:root {
    --bs-link-color: var(--bs-primary);
    --bs-link-hover-color: var(--bs-light);
    --custom-light-blue: #5294D9;
    --custom-blue: #375A7F;
}

.url-input {
    background-color: var(--bs-dark)!important;
}

.url-input.expand {
    height: calc(100vh - 30px);
}

.header.hide, .content.hide {
    display: none!important;
}

.icon-dd {
    transform: translate(-18%, -8%);
}

a:hover {
    cursor:pointer;
}

a.title:hover {
    text-decoration: underline!important;
}

a.alt {
    color: var(--bs-body-color);
    text-decoration: none;
}

a.alt:hover {
    color: var(--custom-light-blue);
}

.bpm-input {
    max-width: 110px;
}

.bpm-input.form-control:disabled {
    background-color: var(--bs-gray-400);
}

.sticky-btm {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 10px;
}

.pagination {
    margin-bottom: 0px;

    --bs-pagination-color: var(--bs-white);
    --bs-pagination-bg: var(--custom-blue);
    --bs-pagination-hover-color: var(--bs-white);
    --bs-pagination-hover-bg: var(--custom-light-blue);
    --bs-pagination-focus-color: var(--custom-blue);
    --bs-pagination-focus-bg: var(--bs-white);
    --bs-pagination-active-color: var(--bs-white);
    --bs-pagination-active-bg: var(--custom-light-blue);
    --bs-pagination-disabled-color: var(--bs-light);
    --bs-pagination-disabled-bg: var(--bs-secondary);
}

.table.compact {
    margin-bottom: 0;
}

.table.compact>:not(caption)>*>* {
        padding: 0.2rem 0.5rem;
}

.popover {
    --bs-popover-bg: var(--bs-body-bg);
}
